  
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Registrati{% endblock title %}
{%block stylesheet%}
<style>
    .card{padding:0!important}
</style>
{%endblock stylesheet%}
{% block content %}
<small>
accounts/registrazione.html
</small>

    <div class="row justify-content-center mt-4">
    <div class="col-lg-4 col-md-8 col-12 box-shadow-2 p-0">
      <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
        <div class="card-header border-0">
          <div class="card-title text-center">
            <img src="{% static 'modern-admin/app-assets/images/logo/logoelexpoevo.png' %}" class="img-s img-fluid img-responsive" alt="branding logo">
          </div>
            <!--
          <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Easily Using</span></h6>
          -->
        </div>
        <div class="card-content">
        <!--
          <div class="text-center">
            <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook"><span class="la la-facebook"></span></a>
            <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter"><span class="la la-twitter"></span></a>
            <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-linkedin"><span class="la la-linkedin font-medium-4"></span></a>
              <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-github"><span
                      class="la la-github font-medium-4"></span></a>
          </div>
            <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>OR Using Account
              Details</span></p>-->
            <div class="card-body">
                <h2>Registrati ad Umanet </h2>
                <form class="form-horizontal" method="POST" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-danger btn-block">
                        <i class="la la-user">Crea Account</i>
                    </button>
                </form><br><br>
                <a href="{% url 'login' %}">
                    <button type="submit" class="btn btn-outline-info btn-block"><i
                            class="ft-unlock"></i> Login
                    </button>
                </a>
            </div>
        </div>
      </div>
    </div>
    </div>


{% endblock content %}